.card {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  align-items: flex-start;

  &__poster {
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    gap: 8px;
  }

  &__tag {
    padding: 2px 6px;
    border: 1px solid #90a4ae;
    border-radius: 4px;
  }

  &__subtitle {
    font-size: 16px;
  }
}

.meta {
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid rgba(144, 164, 174, 0.3);

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}
